@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,200&display=swap');
#forum {
    transform: translate(5%, 50%);
}
#group {
    transform: translate(5%, 50%);
}
#custom {
    transform: translate(5%, 50%);
}
#settings {
    transform: translate(5%, 50%);
}
#home {
    transform: translate(5%, 50%);
}
#language {
    transform: translate(5%, 50%);
}
#logout{
    transform: translate(5%, 50%);
}
#circle {
    margin-left: 20px;
    margin-bottom: 20px;
    height: 55px;
    width: 55px;
    align-items: center;
    text-align: center;
    background-color: #5865f2;
    border-radius: 50%;
    box-shadow: 0px 0px 2px 3px #2b303a;
}
    #circle:hover {
        margin-left: 20px;
        margin-bottom: 20px;
        height: 65px;
        width: 65px;
        background-color: #5865f2;
        border-radius: 50%;
        box-shadow: 0px 0px 2px 3px #2b303a;
    }
/* width */
::-webkit-scrollbar {
    width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #92dce5;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #2b303a;
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

label {
    color:white;
    font-size:28px;
}

/* #92dce5  */
.modal-content {
    background-color: #2b303a;
    margin: auto;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 35%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: left;
    font-size: 28px;
    font-weight: bold;
}
.closeRegistartion {
    color: #aaaaaa;
    float: left;
    font-size: 28px;
    font-weight: bold;
}
.closeRegistartion:hover,
.closeRegistartion:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

    .close:hover,
    .close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }

footer {
    align-content: center;
    text-align: center;
    height: 45px;
}

.material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 700, 'GRAD' 200, 'opsz' 48
}
input {
    border-radius: 10px;
    border:none;
    outline:none;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}


.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    background: #2b303a;
    position: relative;
    min-height: 100%;
    cursor:none;
    font-family: 'Montserrat', sans-serif;
}
#photoAdd {
    transform: translate(0%, 300%);
}
#PhotoPlusIcon {
    transform: translate(10%, 80%);
}
#circlePhoto {
    margin-left: 10px;
    position: absolute;
    margin-top: 10px;
    height: 180px;
    width: 180px;
    align-items: center;
    text-align: center;
    background-color: white;
    text-align: center;
    border-radius: 50%;
    box-shadow: 0px 0px 50px 5px #2b303a;
}
#PhotoPerson {
    margin-left: 100px;
    margin-top: 20px;
    height: 200px;
    width: 200px;
    align-items: center;
    background-color: white;
    border-radius: 50%;
    box-shadow: 0px 0px 5px 5px #2b303a;
    
}
#InfoPerson {
    color: white;
    margin-left: 70px;
    margin-top:20px;
    font-size: 32px;
}
#PhotoPlus {
    margin-left: 140px;
    position: absolute;
    margin-top: 140px;
    height: 60px;
    width: 60px;
    align-items: center;
    text-align: center;
    background-color: white;
    text-align: center;
    border-radius: 50%;    
}
#windowPerson {
    box-shadow: 0px 0px 2px 4px #32323232;
    position: absolute;
    margin-top: 40px;
    width: auto;
    padding-right: 70px;
    height: auto;
    background: #5865f2;
    display: inline;
}
#PhotoCollactions {
    box-shadow: 0px 0px 2px 4px #32323232;
    position: absolute;
    margin-top: 40px;
    width: auto;
    padding-right: 70px;
    height: 350px;
    text-align: center;
    background: #5865f2;
    margin-left: 650px !important;
}

#MainContentPerson {
    margin-left: 150px;
}
body {
    margin: 0px;
    padding: 0px;
}
/*cursor*/
a {
    cursor:none;
    position: relative;
    text-decoration: none;
}

a:after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    display: block;
    margin-top: 0px;
    left: 0%;
    background: black;
    /*transition: width .3s ease;*/
}

a:hover:after {
    width: 100%;
    left: 0%;
    background: black;
}

.cursor {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border: 1px solid black;
    transition: all 200ms ease-out;
    position: fixed;
    pointer-events: none;
    left: 0;
    top: 0;
    transform: translate(calc(-50% + 15px), -50%);
    z-index:999999;
}

.cursor2 {
    z-index: 999999;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color: black;
    opacity: .3;
    position: fixed;
    transform: translate(-50%, -50%);
    pointer-events: none;
    transition: width .3s, height .3s, opacity .3s;
}

.hover {
    background-color: red;
    opacity: 0.5;
}

.cursorinnerhover {
    width: 50px;
    height: 50px;
    opacity: .5;
}